<h3>The most common Chinese characters in order of frequency</h3>

<pagination [pagination]="pagination" (onSelectPage)="loadPage($event)" (onPrePagination)="detectPrePagination($event)" (onNextPagination)="detectNextPagination($event)"></pagination>
<div class="row">
    <table class="table">
        <thead>
            <th class="col-sm-1 text-center">#</th>
            <th class="col-sm-3 text-center">Character</th>
            <th class="col-sm-8 text-center">Pronunciations and explanations</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of characters">
                <td class="text-center">{{item._id}}</td>
                <td>
                    <div class="text-center char-box">
                        <a routerLink="/character/{{item.sc}}">{{item.sc}}</a>
                        <span *ngIf="!!item.tc">
                            (F
                            <a routerLink="/character/{{item.tc}}">{{item.tc}}</a>)
                        </span>
                    </div>
                </td>
                <td>
                    <div [innerHTML]="prettyDefinition(item.definition) | sanitizeHtml"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination [pagination]="pagination" (onSelectPage)="loadPage($event)" (onPrePagination)="detectPrePagination($event)" (onNextPagination)="detectNextPagination($event)"></pagination>